

<h1>Welcome, {{user.name}}!</h1>
<p>Email: {{user.email}}</p>

<h2>My Posts</h2>

{{#if posts.length}}
<ul>
    {{#each posts}}
    <li>
        <h3>{{post.title}}</h3>
        <p>{{post.content}}</p>
    </li>
    {{/each}}
</ul>
{{else}}
<p>No Posts Found</p>
{{/if}}