<div class="text-center">
  <h1>{{post.title}}</h1>
  <img src="{{post.image}}" alt="POST IMAGE">
  <p>Posted by {{user.name}} on {{post.createdAt}}</p>
  <p>{{post.content}}</p>
  {{log this}}


  <form>
    <label for="comment">Leave a comment here !</label>
    <textarea id="comment" name="comment" rows="4" cols="50"></textarea>
    <br>
    <button type="submit">SUBMIT</button>
  </form>

  <h3>COMMENTS:</h3>
  {{#each post.comments}}
  <div class="comment">
    <p>Comment by {{this.user}}:</p>
    <p>{{this.body}}</p>
  </div>
{{/each}}
</div>