<h1 class="title">{{user.name}}</h1>
<p class="subtitle">Email: {{user.email}}</p>

<h2 class="title is-2">Posts:</h2>

{{#if user.posts.length}}
<ul>
    {{#each user.posts}}
    <li>
        <h3 class="title is-3"><a href="/posts/{{this.id}}">{{this.title}}</a></h3>
        <p class="content">{{this.content}}</p>
        {{#if this.imageUrl}}
        <img src="{{this.imageUrl}}" alt="{{this.title}}"  style="width: 250px; height: 250px;">
        {{/if}}
    </li>
    {{/each}}
</ul>
{{else}}
<p class="content">No Post Found for this User</p>
{{/if}}

